h3 {
	text-align: center;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 17px;
	height: 100vh;
	line-height: 30px;

	background: linear-gradient(to top left, #00796b, #e0f2f1);
	/*background: linear-gradient(to top left, #0097a7, #e0f7fa);*/
}

.btnwrapper {
	text-align: center;
}

.btn {
	/*border: 1px solid #3498db;*/
	/*background-color: #26a69a;*/
	background-color: #26a69a;
	height: 35px;
	width: 110px;
	color: white;
}

.form_container {
	background-color: white;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 24px;
	border-radius: 25px;
}

/*Text field handling*/
form input[type="text"] {
	border-right: none;
	border-top: none;
	border-left: none;
	/*background-color: transparent;*/
	background-color: #E5E5E5;
	outline: none;
	caret-color: blue;
	display: inline;
	font-size: 16px;
	font-style: italic;
	color: black;
	border-radius: 10px;
	padding: 4px;
	width: 110px;
}


/*Checkbox handling*/
.chkbox {
	cursor: pointer;
	display: inline;
}

.chk_container {
	display: inline;
	position: relative; 
	padding-left: 23px;
	cursor: pointer;
	font-size: 17px;
}

.chk_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.cbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
}

.chk_container:hover input ~ .cbox {
	background-color: #ccc;
}

.chk_container input:checked ~ .cbox {
	background-color: #2196F3;
}

.cbox:after {
	content: "";
	position: absolute;
	display: none;
}

.chk_container input:checked ~ .cbox:after {
	display: block;
}

.chk_container .cbox:after {
	left: 5px;
	top: 2px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(35deg);
}

th, td {
  padding: 5px;
}